body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0d7c6;
}
header {
    background-color: #065981;
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
}

header h1 {
    color: white;
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Login button styles */
.login-button {
    background-color: #d66704;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #0383cc;
}

/* Footer styles */
footer {
    background-color: #065981;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.logo_menu_cnx {
    width: 150px;
}

.a {
    background-color: #065981;
    padding: 15px; 
    text-align: center;
}

.container_cnx {
    width: 300px;
    margin: 0 auto;
    border: 2px solid #065981;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container_cnx h1 {
    color: #065981;
}

.container_cnx .erreur {
    color: red;
    margin-bottom: 10px;
}

.container_cnx input[type="text"],
.container_cnx input[type="password"],
.container_cnx input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container_cnx input[type="submit"] {
    background-color: #065981;
    color: white;
    cursor: pointer;
    width: 100%;
}

.container_cnx input[type="submit"]:hover {
    background-color: #044c6d;
}

table{
    border-collapse: collapse;
}
  
th, td{
    border: 1px solid black;
    padding: 10px;
}

.navModifAjouter {
    text-align: center;
    padding: 10px;
}

.navModifAjouter a {
    display: inline-block;
    padding: 12px 24px; 
    margin: 0 10px; 
    text-decoration: none;
    color: white;
    background-color: #044c6d;
    border: 2px solid #044c6d; 
    border-radius: 8px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    transition: all 0.3s ease; 
}

.navModifAjouter a:hover {
    background-color: #1175a7; 
    border-color: #1175a7;
}

p {
    width:800pt;
    margin-bottom:10px;
    font-size: large;
    margin-left: 40px;
  }
  
button{
    margin-left: 10px;
    color: white;
    background-color: #1175a7;
    border-radius: 8px;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    transition: all 0.3s ease; 
}

